.body
  = render 'groups/header'
  .contents
    .question
      - @questions.each do |q|
        .question__items
          .question__items__item
            =link_to new_group_question_answer_path(q.group.id, q.id), class:"question__items__item__box" do
              = q.content
          .question__items__show
            = link_to group_question_path(q.group.id, q.id), class:"question__items__show__btn" do
              = "・・・"