.body
  = render 'groups/header'
  .contents
    .question
      - @question.each do |q|
        .question__items
          .question__items__item
            =link_to "#", class:"question__items__item__box" do
              = q.content