.body
  = render "header"
  .contents
    .contents__items
      - @groups.each do |group|
        .contents__items__item
          .hoge 
            = link_to group_questions_path(group.id), class:"category" do
              = group.file
      


