.body
  = render 'groups/header'
  .form
    = form_for [@question, @answers], url: question_answers_path, method: :post do |f|
      = f.text_area :answer, class: 'form__text', placeholder: "メモ → 抽象化 → 転用"
      = f.submit 'SEND', class: 'form__btn'