.question {
  height: 100%;
  width: 100%;
  text-align: center;
  overflow: scroll;
  padding-top: 40px;
  &__items{
    height: 100px;
    width: 100%;
    margin-bottom: 60px;
    text-align: center;
    &__item {
      border: 3.5px solid #008080;
      width: 800px;
      height: 100px;
      display: inline-block;
      &__box {
        line-height: 100px;
        padding: 20px 50px;
        font-size: 30px;
        color: #008080;
        text-decoration: none;
        font-weight: 600;
        font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
      }
    }
    &__show {
      font-size: 15px;
      font-weight: bold;
      padding-top: 3px;
      &__btn{
        text-decoration: none;
        color: #008080;
        background-color: white;
        // border: 1px solid #008080;
      }
    }
  }
}

// font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;