.answer-box {
  padding: 20px;
  font-size: 25px;
  font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
  font-weight: bold;
  
  color: rgb(55, 59, 57);
  
}
.answer-edit {
  margin-top: 50px;
  font-size: 18px;
  text-align: center;
  a {
    margin-right: 20px;
    text-decoration: none;
    color: #008080;
    border: 2px solid #008080;
    padding: 8px;
    border-radius: 10px;
  }
}